@model zaratEngineering.Models.WishItemImage
@{
    //zaratEngineering.Models.WishItemImage t = new zaratEngineering.Models.WishItemImage();
    //var path = t.ImagePath;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <img src="@Url.Content(Model.ImagePath)" class="img-responsive">
        Hello World!
    </div>
</body>
</html>
