@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h1>Jesus Zarate</h1>
    <p class="lead"></p>
</div>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider" class="carousel slide" data-ride="carousel">

                    <!-- Indicator dot nav -->
                    <ol class="carousel-indicators">
                        <li data-target="#slider" data-slide-to="0" class="active"></li>
                        <li data-target="#slider" data-slide-to="1"></li>
                        <li data-target="#slider" data-slide-to="2"></li>
                        <li data-target="#slider" data-slide-to="3"></li>
                        <li data-target="#slider" data-slide-to="4"></li>
                    </ol>

                    <!-- Wrapper for slides-->
                    <div class="carousel-inner" role="listbox">

                        <div class="item active black-color">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <img src="~/images/city.jpg" alt="City" class="img-responsive">
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="carousel-caption">
                                <h1> City </h1>
                            </div>

                        </div>

                        <div class="item black-color">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <img src="~/images/fwheel.jpg" alt="Feris Wheel" class="img-responsive">
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="carousel-caption">
                                <h1> Ferris Wheel </h1>
                            </div>
                        </div>

                        <div class="item black-color">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <img src="~/images/graffity.jpg" alt="Graffity" class="img-responsive">
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="carousel-caption">
                                <h1> Graffity Pikes Place Seattle </h1>
                            </div>
                        </div>

                        <div class="item black-color">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <img src="~/images/oneway.jpg" alt="Graffity" class="img-responsive">
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="carousel-caption">
                                <h1> Graffity Pikes Place Seattle </h1>
                            </div>
                        </div>                     
                    </div>

                    <!-- Controls next and prev buttons -->
                    <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a class="right carousel-control" href="#slider" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
